.background{
    height: 800px;
    background-image: url(../Image/BgImage.png);
    background-size: cover;
    text-align: center;
    color: white;
}
.contain{
    width: 30%;
    float: left;
    margin-top: 150px;
}

.contain-image{
    width: 65%;
    float: right;
    margin-top: 150px;
}